{% extends 'base.html.twig' %}

{% block title %}Players{% endblock %}

{% block body %}
    <h1>Players page</h1>

    <p>
        <a href="{{ path('app_player_add', { name: 'Vanessa', score: 100 }) }}">
            Ajouter Vanessa avec score 100
        </a>
    </p>
{% endblock %}