{% extends 'base.html.twig' %}

{% block title %}Players{% endblock %}

{% block body %}
    <h1>Players page</h1>

    <p>
        <a href="{{ path('app_player_add', {
            name: 'Vanessa',
            username: 'Biamonti',
            number: 10,
            score: 100
        }) }}" class="btn btn-primary">
            Ajouter Vanessa
        </a>
    </p>
{% endblock %}