<form action="{{ path('app_player_new') }}" method="post">
    <input type="text" name="name" required placeholder="Nom">
    <input type="number" name="score" required placeholder="Score">
    <button type="submit">Add player</button>
</form>