<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Welcome!{% endblock %}</title>

    {{ importmap('app') }}
</head>

    <body>
        <nav>
            <a href="{{ path('player_index') }}">Accueil</a>
            <a href="{{ path('app_player_new') }}">Ajouter</a>
            <a href="{{ path('app_player_showall') }}">Liste</a>
        </nav>

        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>